<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar Cliente</title>
</head>
<body>
<h2>Cadastrar Cliente!</h2>
<form method="post">
	<input placeholder="Nome..." type="text" name="nome">
	<input placeholder="Sobrenome..." type="text" name="sobrenome">
	<input placeholder="Empresa..." type="text" name="empresa">
	<input type="submit">
</form>
</body>
</html>